{% extends "base_contacts.html" %}

{% block pretitle %}
    <div class="jumbotron">
        <div class="container">
            <div class="card shadow-lg mt-5">
                <div class="card-body">
                    <form>
                    <div class="form-row">
                        <div class="col">
                            <input id="name" name="name" type="text" class="form-control" placeholder="Name contains" value="{{ search_name |default_if_none:""  }}">
                        </div>
                        <div class="col">
                            <input id="phone_number" name="phone_number" type="text" class="form-control" placeholder="Phone number contains" value="{{ search_phone_number |default_if_none:""  }}">
                        </div>
                        <div class="col">
                            <input id="phone_number" name="phone_number" type="text" class="form-control" placeholder="Address contains" value="{{ search_address |default_if_none:""  }}">
                        </div>
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {% comment %} <div id="googlemaps" class="h-75"></div> {% endcomment %}
    </div>
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
    <div class="row">
    {% if contacts_list %}
        {% for contact in contacts_list %}
            <div class="col-md-3 col-sm-6 mb-5">
                <div class="card">
                    <img class="card-img" src="https://loremflickr.com/200/200/face/all?random={{contact.id}}" alt="{{ contact.name | safe}} picture" />
                    <div class="card-img-overlay text-white">
                        <h4 class="card-title">{{ contact.name }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-middle"><i class="fas fa-phone-square-alt fa-lg"></i> {{ contact.phone_number}}</p>
                        <p><i class="fas fa-map-marked-alt fa-lg"></i>{{ contact.address}}</p>
                    </div>
                </div>
            </div>
            {% comment %} <li><a href="/{{ contact.id }}/">{{ contact.name }}</a></li> {% endcomment %}
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $("form").submit(function() {
            console.log("working!");
            $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
            return true; // ensure form still submits
        });
        

        $( "form" ).find( ":input" ).prop( "disabled", false );
    </script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('googlemaps'), {
            center: {lat: 0, lng: 0},
            zoom: 4,
            streetViewControl: false,
            mapTypeControl: false,
            fullscreenControl: false
        });
      }
    </script>
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS02tQl70x2n9kHw5w6XkFNxkdP_bJa_Q&callback=initMap" {% endcomment %}
    {% comment %} async defer></script> {% endcomment %}
{% endblock %}