.rounded {
  border-radius: 1rem !important;
}

.active {
  color: #6c7a89 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
  color: #6c7a89;
}

.bg-style {
  background-color: #ffd400 !important;
}

body {
  color: #403500;
}

a {
  color: #406bff;
}

a:hover,
a:focus {
  color: #146ecc;
}

.btn-primary {
  background-color: #406bff;
  border-color: #406bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #146ecc;
  border-color: #146ecc;
}
