.navbar {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#content > .jumbotron {
  border-radius: 0;
  -webkit-box-shadow: inset 0 -8px 6px -6px black;
  -moz-box-shadow: inset 0 -8px 6px -6px black;
  box-shadow: inset 0 -8px 6px -6px black;
}

#googlemaps {
  width: 100%;
  position: absolute;
  z-index: 0;
}

#filter {
  position: relative;
  z-index: 1;
}

.card-img {
  width: 100%;
}

.card-title {
  text-shadow: 1px 1px black;
}
